<h4><a href="#" title="Vai alla pagina: Contatti">Contatti</a></h4>
<p>
  <strong>Crediti e informazioni : </strong><br> In questa sezione troverai i crediti del sito e le privacy.
</p>
<div class="link-list-wrapper">
  <ul class="footer-list link-list clearfix">
    <li><a class="list-item" href="https://blog.gjdev.it">Blog</a></li>
    <li><a class="list-item" href="https://gjdev.it/privacy/">Privacy</a></li>
    <h6>Il sito è gestito da: </h6>
    <li><a class="list-item" href="https://github.com/">GitHub</a></li>
    <li><a class="list-item" href="https://gjdev.it/UPID/">UPID gjdev</a></li>
  </ul>
</div>
